@font-face{
    font-family: "Jost";
    src: url(../FONT-Jost/Jost-300-Light.otf) format("truetype");
    font-weight:normal;
    font-style: normal;
}
@font-face{
    font-family: "Jost";
    src: url(../FONT-Jost/Jost-500-Medium.otf) format("truetype");
    font-weight: medium;
    font-style: normal;
}
@font-face{
    font-family: "Jost";
    src: url(..//FONT-Jost/Jost-700-Bold.otf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "Birch";
    src: url(..//fonts/15275.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: rgb(0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header, h1, h2, h3, h4, h5, h6 {
    margin:0 0;
}
.page {
    width:100%;
    max-width: 4000px;
    height: 100vh;    
}
/*header*/
header{
    border-bottom: 3px solid #f39200;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    max-width: 3000px;
    
}
#trigger{
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.582);
    width:100%;
    height: 70px;
    margin-top:0px;
    
}
.header-logo{
    margin: 5% 0px;
    width: 170px;
}

/*Меню с подчеркиванием*/
  
.menu{
    max-width: 1500px;
}
.menu-1 {
    max-width: 3000px;
    margin:0px auto;
    display: flex;
    text-align: center;
}
.menu__link:before{
    content:'';
    z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 42px;
	background: #f39200e8;
	border-radius: 5px;
    transition: all 0.5s ease; 
}

.menu__link:hover:before{
    width:100%;
    
    
}

.menu__link {
    margin-left: 50px;
    color: #f6f6f6;
    text-decoration: none;
    position: relative;
    padding: 10px 5px 10px 5px;
    font-family: 'Noto Sans';
    font-weight: medium;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1.5px;
}


/*Меню для мобильных*/
.menu-triger {
	display: block;
	width: 25px;
	height: 17px;	
	background: url(https://snipp.ru/demo/449/menu.png) 0 0 repeat;
	position: absolute;
	left: 15px;
	top: 28px;
}

.menu-close {
	display: block;
	width: 28px;
	height: 28px;	
	background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.menu-popup {
	display: none;	
	background: rgb(5, 5, 5);
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu-popup ul {
	margin: 0;
	padding: 0;
}
.menu-popup li {
	list-style: none;
	margin: 10px 0;
    padding: 0;
}
.menu-popup li a {
    text-align: center;
    width:100%;
    margin: 5px 5px;
    color: #f3542d;
    float:left;
    text-decoration: none;
    position: relative;
    padding: 14px 0;
    font-family: "Noto Sans";
    font-weight: medium;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.040em;
}
.body_pointer * {
    cursor: pointer;
    
    
}

/*index-page*/

.video iframe { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content-title{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color:#f39200;
    margin:35px auto;
}
.content-title:hover{
    text-decoration: underline white;
}
.outsider-article{
    max-width: 3000px;
    margin: 50px auto;
    padding: 10px 5%;
}
.about_us_list{
    color:white;
    list-style: none;
    display: flex;
}
.about_us_list li{
    width:30%;
    
}
.outsider-title{
    font-family: "Noto Sans";
    font-weight: bold;
    color:#f5c014;
    font-size: 26px;
    letter-spacing: 0.8px;
    text-align: left;
    display: block;
}
.outsider-text{
    font-size: 24px;
    letter-spacing: 0.7px;
    text-align: left;
    color:white;
}

.out-figcaption-title{
    font-family: "Birch";
    font-size: 26px;
}
.outsider-team h2{
    text-align: center;
    margin: 5px auto;
    width: 100%;
    color:#ffff;
    font-size: 25pt;
    background-color: rgba(0, 0, 0, 0.363);
}

/* Slideshow container */
.slideshow-container {
    background-color: #ffffff;
    width: 85%;
    max-width: 3000px;
    padding: 20px;
    position: relative;
    margin: 5px auto;
  }
.slideshow-img{
    width: 100%;
}
  /* Hide the images by default */
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3c7ccf;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/**/
.folio-btn{
    width: 100%;
    max-width: 3000px;
    margin: 0px auto;
    
}
.folio-btn button{
    color:white;
    font-size: 17pt;
    font-family: "Noto Sans";
    font-weight: normal;
    letter-spacing: 0.8px;
    background-color: rgba(233, 114, 16, 0.849);
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
}
.folio-btn button:hover{
    background-color: violet;
}

/*showreal*/
.video {
    width: 85%;
    margin: 0px auto;
    max-width: 3000px;
    position: relative;
    padding-bottom: 56.25%;
    /*пропорции видео 16:9 */
    padding-top: 0px;
    height: 0px;
    background-color:#fff;
    border:3px solid white;
}
.mediabox h3{
    color:white;
    display: block;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
}
/*main-index-page*/
.index-page{
    max-width: 3000px;
    width:100%;
    margin:0px auto;
    padding:10px 0px;
}
/*logo-slider*/
.clients-banner{ 
    max-width: 3000px;
    padding:3%;
}
.must{
    margin:5px 30px;
    max-width: 250px;
}
.slider {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    max-width: 3000px;
}
.slider-title{
    font-family: "Jost";
    font-weight: bold;
    color:#3c7ccf;
    font-size: 30px;
    letter-spacing: 0.8px;
    text-align: left;
    margin: 25px auto;
    padding-left: 5%;
}
.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 33.333333%;
    max-width: 25%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 60px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}
/*footer*/
footer{
    background-color: #000000;
    max-width: 800px;
    margin:50px auto;
    padding-bottom: 30px;
}
.footer-title{
    margin-top: 25px;
    text-align: center;
    font-family: "Noto Sans";
    font-weight: bold;
    color:#f39200;
    font-size: 22pt;
}

.footer-logo{
    width:170px;
    margin: 5px auto;
    display: block;
}
.footer-logo:hover{
    filter: invert(50%);
}
.contacts{
    max-width: 4000px;
    width:100%;
    margin: 10px auto;
    display: grid;
}
.social-logo{
    width:45px;
    margin: 10px 10px;
    text-align: center;
}
.social-logo:hover{
    filter:invert(50%);
}
.social-logo-yt{
    width:62px;
    margin: 10px 10px;
    text-align: center;
}
.social-logo-yt:hover{
    filter:invert(50%);
}
.social-box{
    text-align: center;
    display:grid;
    margin:0px auto;
}
.line{
    margin:10px auto;
    width:250px;
    content: "";
    height: 2px;
    background-color:#fff;
}
.social-logo-box{
    margin:0px auto;
}

.contacts a{
    text-decoration: none;
    color:#fff;
    font-family: "Jost";
    font-weight: normal;
    font-size: 20px;
    margin-top:10px;
    margin-left: 0px;
}
.contacts a:hover{
    color:#70aec9;
}
.feedback-pre{
    display: block;
    margin:0 auto;
    text-align: center;
    max-width: 3000px;
    width: 100%;
}
.link-feedback{
    color:#f3542d;
    text-decoration: white;
    font-size: 22px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group-submit {
    margin: 20px auto;
    max-width: 300px;
}

.agree {
    font-size: 14px;
    color:white;
    margin:10px 10px;
    text-align: center;
}

.input {
    display: block;
    padding: 8px 10px;
    width: 233px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 15px;
}

.input:focus {
    outline: 0;
    border-color: #28cbd1;
}



.btn:hover,
.btn:focus {
    background-color: white; 
    cursor: pointer;
    color:#f3542d;
}

.btn:active {
    background-color: #349194;
}
/*Форма*/
.form-group label{
    display: block;
    margin: 5px auto;
    text-align: center;
    font-family: "Noto Sans";
    font-weight: 300;
    color:#fff;
    font-size: 14pt;
}
.contacts-2 h3{
    text-align: center;
    color:white;
    font-family: "Noto Sans";
}
.succes{
    max-width: 250px;
    margin: 10px auto;
    display: none;
    background-color: black;
    color:white;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
}
.succes img{
    width:250px;
    margin: 5px auto;
}
.close{
    width:250px;
    background-color: #2980B9;
    border:#297fb993;
    border-radius: 5px;
    color:white;
    font-family: "Jost";
    padding: 5px;

}
.form-btn{
    width:233px;
    text-align: center;
    background-color: #000000;
    padding: 8px 10px;
    margin: 10px auto;
}
.form-btn input{
    color:white;
    letter-spacing: 1px;
    font-family: "Jost";
    text-transform: uppercase;
    background-color: #2980B9;
}
.form-btn input:hover{
    background-color: #349194;
}
.form-btn input:active{
    background-color: #ff4c4c;
}


.container-cutter{
    margin-top:30px;
}
@media screen and (min-width: 1252px){
    .menu{
        display: none;
    }

}

@media screen and (max-width: 1027px){ 
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;    
    }    
    .header-logo{
        margin:10px 5px 15px 200px;
        width:380px;  
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    }
    .slider__item{
        max-width: 33.3333%;
        flex:0 0 33.3333%;
    }
}

@media screen and (max-width: 900px){
    
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;    
    }    
    .header-logo{
        margin:10px 5px 15px 200px;
        width:380px;  
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    }
    .slider__item{
        max-width: 33.3333%;
        flex:0 0 33.3333%;
    }
    
}
@media screen and (max-width: 736px){
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;    
    }    
    .header-logo{
        margin:10px 5px 15px 180px;
        width:350px;   
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    } 

.outsider-text{
    font-size: 13pt;
    text-align: left;
}
.outsider-title{
    font-size: 15pt;
}
/*Страница команды*/
.out-team-img{
    max-width:250px;
    margin-top: 10px;
}  
.team-page{
    max-width:736px;
    padding-right:15px;
    padding-left: 15px;
}
.sticky {
    position: fixed;
    top: 0;
    
  }
.sticky + .index-page{
    padding-top: 70px;
}
.slider__item{
    max-width: 50%;
    flex:0 0 50%;
}
}

@media screen and (max-width: 667px){
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;    
    }    
    .header-logo{
        margin:10px 5px 15px 160px;
        width:340px;   
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    }    
.outsider-text{
    font-size: 13pt;
    text-align: left;
    }
.outsider-title{
    font-size: 15pt;

}
.slideshow-container {              
    margin: 0px auto;
}
    /*Страница команды*/
    .out-team-img{
        max-width:250px;
        margin-top: 10px;
    }
   
    .team-page{
       max-width:667px;
        padding-right:15px;
        padding-left: 15px;
    }
    
    .container-cutter{
        margin-top:20px;
        
    }
    
    .clients-banner img{
        width:25%;
    }
    .sticky {
        position: fixed;
        top: 0;
        
      }
    .sticky + .index-page{
        padding-top: 70px;
    }
    .slider__item{
        max-width: 50%;
        flex:0 0 50%;
    }
}
@media screen and (max-width: 569px){
.header-nav{
    margin:5px auto;
    padding-left: 5px;
    padding-right: 5px;    
}    
.header-logo{
    margin:10px 5px 15px 150px;
    width:320px;   
}
.content-title{
    font-size: 20px;
    margin:15px auto;
}
.menu-1{
    display: none; 
}    
.outsider-text{
    font-size: 13pt;
}
.outsider-title{
    font-size: 15pt;

}
.slideshow-container {
    margin: 0px auto;
}


    /*Страница команды*/
.out-team-img{
    max-width:250px;
    margin-top: 10px;
}
.team-page{
    max-width:568px;
    padding-right:15px;
    padding-left: 15px;
}    
.container-cutter{
    margin-top:20px;   
}
.sticky {
    position: fixed;
    top: 0;
}
.sticky + .index-page{
    padding-top: 70px;
}
.slider__item{
    max-width: 50%;
    flex:0 0 50%;
}
    
}
@media screen and (max-width: 415px){
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;
        
    }
    
    .header-logo{
        margin:10px 5px 15px 85px;
        width:265px;   
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    }
    
    .outsider-text{
        font-size: 13pt;
        text-align: left;
    }
    .outsider-title{
        font-size: 15pt;
    }

    /*Страница команды*/
    .out-team-img{
        max-width:240px;
        margin-top: 10px;
    }
    .out-figcaption-title{
        font-size: 14pt;
    }
    .team-page{
       max-width:414px;
        padding-right:15px;
        padding-left: 10px;
    }
    .container-cutter{
        margin-top:20px;  
    }
    .sticky {
        position: fixed;
        top: 0;
        
      }
    .sticky + .index-page{
        padding-top: 70px;
    }
    .slider__item{
        max-width:100%;
        flex: 0 0 100%;
    }
    
}

@media screen and (max-width: 375px){
    .header-nav{
        margin:5px auto;
        padding-left: 5px;
        padding-right: 5px;
        
    }
    
    .header-logo{
        margin:10px 5px 15px 75px;
        width:255px;   
    }
    .content-title{
        font-size: 20px;
        margin:15px auto;
    }
    .menu-1{
        display: none; 
    }
  
    .outsider-team{
        max-width: 375px;
    }
    .outsider-text{
        font-size: 13pt;
    }
    .outsider-title{
        font-size: 15pt;
    }
    .slideshow-container {
        margin: 0px auto;
    }
    /*Страница команды*/
    .out-team-img{
        max-width:235px;
        margin-top: 10px;
    }
    .out-figcaption-title{
        font-size: 14pt;
    }
    .team-page{
       max-width:375px;
        padding-right:15px;
        padding-left: 10px;
    }

    .sticky {
        position: fixed;
        top: 0;
        right: 0;
      }
    .sticky + .index-page{
        padding-top: 70px;
    }

}
@media screen and (max-width: 325px){
.header-nav{
    margin:5px auto;
    padding-left: 5px;
    padding-right: 5px;       
}    
.header-logo{
    margin:5px 5px 15px 55px;
    width:240px;   
}
.content-title{
    font-size: 20px;
    margin:15px auto;
}
.menu-1{
    display: none; 
}
.outsider-text{
    font-size: 13pt; 
}
.outsider-title{
    font-size: 17px;   
}

/*Страница команды*/
.out-team-img{
    max-width:230px;
    margin-top: 10px;
}
.out-figcaption-title{
    font-size: 13pt;
}
.team-page{
    max-width:325px;
    padding-right:15px;
    padding-left: 10px;
}

.sticky {
    position: fixed;
    top: 0;
        
}
.sticky + .index-page{
    padding-top: 70px;
}

}

